name: Publish to PyPI

### to release a new version vX.Y.Z
# 1) Update the version in pyproject.toml: version = "X.Y.Z"
# 3) git commit "Update pyproject for version X.Y.Z"
# 4) git push origin
# 5) git tag vX.Y.Z
# 6) git push origin vX.Y.Z

on:
  push:
    tags:
      - "v*" 

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip 
          pip install build twine

      - name: Build package
        run: |
          python -m build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          attestations: true